@(parent: Parent)

@main("Search for your available babysitters") {
<!-- TODO: The styles should be integrated to the css -->

	    @if(flash.containsKey("success")) {
	        <div class="grid_12 alert-message warning">
	            <strong>Done!</strong> @flash.get("success")
	        </div>
	    } 

		<h1 class="grid_12">Xpress Care</h1>

		<div class="grid_6">
			<p class="grid_1 alpha" style="color:#c0c0c0;font-size:8em;margin-top:0;">1</p>
			<div class="grid_6" id="map"> </div>
			<p class="grid_6 omega">You can drag and drop the marker to the correct location</p>
		</div>

	  
		@helper.form(action = routes.Application.listAvailableBabySitters(), 'class -> "container_6", 'style -> "margin-top:0" ) {
			
		<div class="grid_6 alpha" style="margin-top: 0">
        <div>
        <p class="grid_1" style="color:#c0c0c0;font-size:8em;margin-top:0;">2</p>
        <div class="container_6">
		    <label for="startTime" class="grid_2">start time?</label>
            <input id="startTime" class="grid_2" name="start" type="text" size="20" />

            <label for="endTime"class="grid_2">end time?</label>
            <input id="endTime" name="end" class="grid_2" type="text" size="20"/>
            <p class="grid_6">&nbsp;</p>
     
			<span style="display:none;">
			<label>Address : </label> <input id="addresspicker_map" />   <br/>
			<label>Locality: </label> <input id="locality" disabled=disabled /> <br/>
			<label>Country:  </label> <input id="country" disabled=disabled /> <br/>
			<label>Lat:      </label> <input id="lat" name="latitude" /> <br/>
			<label>Lng:      </label> <input id="lng" name="longitude" /> <br/></span>
		</div>
		</div>

		<div>
			<p class="grid_1" style="color:#c0c0c0;font-size:8em;margin-top:0;">3</p>
			<div class="container_3" style="margin-top:0.5em">
			<dl>
				<dt class="grid_2" style="margin-bottom:0">price</dt><dd class="grid_2" style="margin-bottom:0"><strong id="hourly_price">13</strong> €/h</dd>
				<dt class="grid_2" style="margin-top:0.2em">hours</dt><dd class="grid_2" style="margin-top:0.2em"><strong id="amount_of_hours">-</strong></dd>
				<dt class="grid_2">total</dt><dd class="grid_2"><strong id="total_amount">-</strong> €</dd>
			</dl>
			<input class="grid_2" style="margin-top:2em" type="submit" value="Request a babysitter"/>
			</div>
			
		</div>
		</div>
		}


<script type="text/javascript">
	initMap(@parent.lastLatitude, @parent.lastLongitude);
</script>

}
