@(parent: Parent)

@main("Search for your available babysitters") {

		<h1 class="grid_12">Here comes the header</h1>

		<div class="grid_6">
		<p class="grid_1" style="color:#c0c0c0;font-size:8em">1</p>
		<div class="grid_5" id="map"> </div>
		<p class="grid_6">You can drag and drop the marker to the correct location</p>
		</div>

	  
		@helper.form(action = routes.Application.listAvailableBabySitters(), 'class -> "grid_6" ) {
			
		<div class="input grid_5">
        <div>
        <p class="grid_1" style="color:#c0c0c0;font-size:8em">2</p>
        <div class="grid_3" style="margin-top:2em; margin-bottom:2em;">
		    <label for="startTime">start time?</label>
            <input id="startTime" name="start" type="text" size="20" />

            <label for="endTime">end time?</label>
            <input id="endTime" name="end" type="text" size="20"/>
     
			<span style="display:none;">
			<label>Address : </label> <input id="addresspicker_map" />   <br/>
			<label>Locality: </label> <input id="locality" disabled=disabled /> <br/>
			<label>Country:  </label> <input id="country" disabled=disabled /> <br/>
			<label>Lat:      </label> <input id="lat" name="latitude" /> <br/>
			<label>Lng:      </label> <input id="lng" name="longitude" /> <br/></span>
		</div>
		</div>

		<div>
			<p class="grid_1" style="color:#c0c0c0;font-size:8em">3</p>		
			<input class="grid_3" style="margin-top:5em" type="submit" value="Request a babysitter"/>

		</div>
		</div>
		}


<script type="text/javascript">
	initMap(@parent.lastLatitude, @parent.lastLongitude);
</script>

}
