
@(message: String)

@mainMobile("Search for your available babysitters") {
<header>
            ExpressCare
       </header>
 <div id="container">
    
    <div id="main" role="main">
	@helper.form(action = routes.Application.listAvailableBabySitters(), 'class -> "container_6", 'style -> "margin-top:0" ) {
		    <label for="address"> Address </label> <input  id="address" name="address" type="text" ></input>
			<label for="startDate"> Start Date </label> <input  id="startDate" name="startDate" type="date" data-role="datebox" data-options='{"mode": "flipbox"}'> </input>
			<label for="startTime"> Start Time </label> <input  id="startTime" name="startTime" type="date" data-role="datebox" data-options='{"mode": "timeflipbox"}'> </input>
			<label for="endDate"> End Date </label> <input  id="endDate" name="endDate" type="date" data-role="datebox" data-options='{"mode": "flipbox"}'> </input>

			<label for="endTime"> End Time </label> <input  id="endTime" name="endTime" type="date" data-role="datebox"data-options='{"mode": "timeflipbox"}'></input>
            <input type="submit" value="Request Babysitter" />      

	}
		<footer>
		</footer>
		
		</div>
		
  </div> <!--! end of #container -->

     
}


