**/*.DS_Store
client/.DS_Store

# General temp files
.DS_Store
*.ser
*.pyc

# Files related to Play build or usage
server/id
server/dist
server/framework/classes
server/framework/test-classes
server/framework/tests-results
server/framework/out
server/framework/play.jar
server/framework/src/version
server/framework/src/play/version
server/framework/tests/test-application/db
server/framework/play-*.jar
server/framework/docs
server/samples-and-tests/*/test-result/

# IDE and editors
*~
.idea
nbproject
eclipse
.amateras
/server/.settings/
/server/.classpath
server/.project
server/*.iml
server/*.ipr
server/*.iws
server/atlassian-ide-plugin.xml
/server/conf/evolutions/default/1.sql
/server/project/project/

# modules/: exclude except for core modules
server/modules/*
!server/modules/docviewer
!server/modules/crud
!server/modules/console
!server/modules/grizzly
!server/modules/secure
!server/modules/testrunner


# Joel's changes
server/target/*

/server/logs/**
/server/logs/application.log

server/logs/application.log
/server/project/target/
