/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

#search_details dd, #search_details dt {
	height: 42px;
}

.details {
	height: 20px;
	margin-top:0;
	margin-bottom:0;
}

h2.search {
	margin-top: 1.2em;
}

/* Hack to hide the seconds div */
.ui-timepicker-div .ui_tpicker_second {
	display:none;
}

.emergency_price {
	color: red;
}

#emergency_price_info {
	display:none;
}

#notify_icon {
	display:none;
}


#calendar {
	width:100%;
}

#calendar th,td {
	text-align:left;
	border-bottom: 1px solid #c0c0c0;
	padding-left:0.7em;
	padding-top:0.3em;
	padding-bottom:0.3em;
	padding-right:0.7em;
}

#calendar .time {
	padding-left: 0.1em;
}

#calendar .free {
	background-color: #00FF1A;
	opacity:0.65;
}

#calendar .busy {
	background-color: #E0E0E0;
	opacity:0.65;
}

#calendar .free:hover {
	opacity:1;
}

#calendar p {
	float:right;
	width:50%;
}

#calendar img {
	position: relative;
	float:left;
	padding-top:0.4em;
}
