body {
  margin:0 10%;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  background-image:url(../../images/backgr2.png);
  background-repeat:no-repeat;
  background-position:center;

}

h1,h2,h3,h4 {
  font-family: "kulturista-web-1","kulturista-web-2",'Helvetica Neue', Helvetica, Arial, sans-serif, Serif;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size:23px;
  color: #404040;
  background:#CCC;
  background-color: #F5F5F5;
  border-radius: 6px 6px 6px 6px;
}  
  
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:normal;
  font-size:16px;
  width:100%;
  float:left;
  margin: 20px 0  0px 0;
}

code {
  background-color: ghostWhite;
  border: 1px solid #DEDEDE;
  color: #444;
  padding: 0 3px;
}

label {
  width: 100px;
  float:left;
  text-align:right;
  margin:4px 10px 0 0;
  color: #FFB730;
  font-size: 30px;
}

p {
  float:left;
  width: 100%;
  
}
.gist {
  margin-top: 10px;
  font-size: 12px;
}

.ui-autocomplete-input, .input input {
  border: none; 
  font-size: 14px;
  width: 300px;
  height: 24px;
  margin-bottom: 5px;
  padding-top: 2px;
}

.ui-autocomplete-input {
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
}

#map {
  border: 1px solid #DDD; 
  width:300px;
  height: 300px;
  float:left;  
  margin: 0px 0 0 10px;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}

#legend {
  float: left;
  font-size: 12px;
  font-style: italic;
  margin: 10px 0px 0px 430px;
}

.ui-menu .ui-menu-item a {
  font-size: 12px;
}

.input {
  float:left;  
}

.topbar {
    background-color: #FFB730;
    background-image: -moz-linear-gradient(center top , #FFB730, #FF7D00);
    background-repeat: repeat-x;
	color: #FFB730;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-top: 0;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/*
a{
	color:#FFF;
	font-size:17px;
	text-decoration: none;
	
	}

a:hover	{
	color:#DFCFFF;
	font-weight:700;
	
	} */
	
a:link,a:visited
{
display:block;
font-weight:bold;
color:#FFFF7A;
background-color:#20A7DF;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
-moz-border-radius: 5px;
border-radius: 5px;
}
a:hover,a:active
{
background-color:#00AF00;
-moz-border-radius: 5px;
border-radius: 5px;
}

.search {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:400;
	}
	
.availability {
	
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: left;
  font-size:24px;
  color:#808080;
  font-weight:400;
}