@(babysitter: BabySitterAvailable)


@mainMobile("Contact babysitter") {

	@helper.form(action = routes.Application.agreeSitter()) {
	
		<h1>Contact information of the babysitter</h1>
	
		<h2>@babysitter.babySitter.firstName</h2>	
		
		<h2>@babysitter.babySitter.lastName</h2>	
		
		<h2>@babysitter.babySitter.email</h2>
		
		<h2>@babysitter.babySitter.phone</h2>	
		
		<input type="hidden" id="id" name="id" value="@babysitter.id" />
		
		<input type="submit" name="submit" value="Confirm"/>
		
	}
	
	
    
}


    

