@(babysitters: List[BabySitterAvailable])

@mainMobile("Available babysitters") {

	@if(flash.containsKey("success")) {
	        <div class="alert-message warning">
	            @flash.get("success")
	        </div>
	    } 

	@for(sitter <- babysitters) {
		
		@helper.form(action = routes.Application.requestSitter()) {
			<div>
				<img style="width:100%" src="@sitter.babySitter.pictureUrl" title="Reliable babysitters!" />
				<h1>@sitter.babySitter.firstName @sitter.babySitter.lastName</h1>
				@if(sitter.babySitter.favorited) {
					<p style="margin-left:0;">
					<img width="30" src="@routes.Assets.at("images/star.png")" title="Favorited!" /></p>
				}
<!--				<h2>Available from @sitter.startTime to @sitter.endTime</h2> -->
				<p>@sitter.babySitter.basicInfo</p>
				<div><p>@sitter.babySitter.numberOfParentRecommendations of your friends recommend!</p>
				</div>
				<div style="margin:0">&nbsp;</div>
				<input type="hidden" name="id" value="@sitter.id" />
				<input type="hidden" name="mobile" value="true" />
				
				@if(!sitter.requested) {
					<input type="submit" value="Request"/>
				} else {
					<p>The sitter has already been requested</p> <!-- why are we even showing the already requested sitters?-->
				}
			</div>
		}
		
	
	}
    
}


