@(title: String)(content: Html)

<!DOCTYPE html>

<html>
	<head>
        <title>@(title + " | ExpressCare")</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/themes/base/jquery.ui.all.css")">
	
		 <!-- scripts concatenated and minified via ant build script-->
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
		<link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.min.css" /> 

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> 
		<script type="text/javascript" src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
		<script type="text/javascript" src="http://dev.jtsage.com/jquery.mousewheel.min.js"></script>
		<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.min.js"></script>
		<script type="text/javascript" src="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.js"></script>
		<script type="text/javascript" src="http://dev.jtsage.com/jQM-DateBox/demos/extras.js"></script>
		<script type="text/javascript" src="http://dev.jtsage.com/gpretty/prettify.js"></script>
		<link type="text/css" href="http://dev.jtsage.com/gpretty/prettify.css" rel="stylesheet" />
		<script type="text/javascript">
			$('div').live('pagecreate', function() {
				prettyPrint()
			});
		</script>
	

		

		  <!-- Mobile viewport optimization h5bp.com/ad -->
		  <meta name="HandheldFriendly" content="True">
		  <meta name="MobileOptimized" content="320">
		  <meta name="viewport" content="width=device-width">
		
		  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
		  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
		  <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
		  <link rel="shortcut icon" href="img/l/apple-touch-icon.png">
		
		  <!-- iOS web app, delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
		  <meta name="apple-mobile-web-app-capable" content="yes">
		  <meta name="apple-mobile-web-app-status-bar-style" content="black">
		  
		  <!-- The script prevents links from opening in mobile safari. https://gist.github.com/1042026 -->
		  <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
		  
		  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
		  <meta http-equiv="cleartype" content="on">
		
		  <!-- Main Stylesheet -->
		  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")">
	
		  <script src="@routes.Assets.at("javascripts/modernizr-2.0.6.min.js")"></script>
		  <script src="@routes.Assets.at("javascripts/helper.js")"></script>
    
	</head>
    <body>
        <div id="main" role="main">
		@content
    </div>
        </body>
</html>
