@(parent: Parent)

@main("Search for your available babysitters") {
<!-- TODO: The styles should be integrated to the css -->

	    @if(flash.containsKey("success")) {
	        <div class="grid_12 alert-message warning">
	            @flash.get("success")
	        </div>
	    } 
	    
	    <img class="grid_12" src="@routes.Assets.at("images/train.png")" title="Reliable babysitters" />

		<h1>Nannies, childminders and babysitters in the right place at the right time</h1>
		<div class="grid_6">
			<p class="grid_1" style="color:#FFB730;font-size:8em;margin-top:0;">1</p>
			<h2 class="grid_4 search">Where do you want us to be?</h2>
			<h4 class="grid_4">Approximate location within 500 meters is enough.</h4>
			<div class="grid_6" id="map"> </div>
			<p class="grid_6">You can drag and drop the marker to the correct location</p>
		</div>

	  
		@helper.form(action = routes.Application.listAvailableBabySitters(), 'class -> "container_6", 'style -> "margin-top:0" ) {
			
<!--		<div class="grid_6 alpha" style="margin-top: 0"> -->
        <div>
        <p class="grid_1" style="color:#FFB730;font-size:8em;margin-top:0;">2</p>
        <h2 class="grid_4 search">At what time should we be there?</h2>
        
<!--        <div class="container_6"> -->

			<div class="grid_5" style="margin-top:0.5em">
			<dl id="search_details">
				<dt class="grid_2" style="margin-bottom:0"><label for="startTime">start</label></dt><dd class="grid_2" style="margin-bottom:0"><input id="startTime" class="grid_2" name="start" type="text" size="20" /></dd>
				<dt class="grid_2" style="margin-top:0.2em"><label for="endTime">end</label></dt><dd class="grid_2" style="margin-top:0.2em"><input id="endTime" name="end" class="grid_2" type="text" size="20"/></dd>

				<dt class="grid_2 details" style="margin-bottom:0;"><label>price</label></dt><dd class="grid_2 details" style="margin-bottom:0;"><p class="grid_2"><strong id="hourly_price">13</strong> €/h <span id="emergency_price_info">(urgency extra)</span></p></dd>
				<dt class="grid_2 details" style="margin-top:0;"><label>hours</label></dt><dd class="grid_2 details" style="margin-top:0;"><p class="grid_3"><strong id="amount_of_hours">-</strong></p></dd>

				<dt class="grid_2"><label>total</label></dt><dd class="grid_2"><p class="grid_3"><strong id="total_amount">-</strong> €</p></dd>

				<input class="grid_4" style="margin-top:2em;height:4em;" type="submit" value="Request a babysitter"/>

			</dl>

            <p class="grid_6 omega">&nbsp;</p>

			<span style="display:none;">
			<label>Address : </label> <input id="addresspicker_map" />   <br/>
			<label>Locality: </label> <input id="locality" disabled=disabled /> <br/>
			<label>Country:  </label> <input id="country" disabled=disabled /> <br/>
			<label>Lat:      </label> <input id="lat" name="latitude" /> <br/>
			<label>Lng:      </label> <input id="lng" name="longitude" /> <br/></span>
		</div>
		</div>

<!-- start of calendar -->

<!-- separator -->
		<div class="grid_4" style="border-bottom:1px solid #c0c0c0;">&nbsp;</div>
		<div class="grid_3" style="text-align:center; margin-top:0.6em; font-size:1.5em">or check the availability of your favourite babysitters</div>
		<div class="grid_4" style="border-bottom:1px solid #c0c0c0;">&nbsp;</div>

<!-- week view -->
		<table id="calendar" class="grid_12">
			<tr>
				<th>&nbsp;</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th>Sunday</th>
			</tr>
			
			<tr>
				<td class="time">8-10</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>		
					</div>
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
					
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_female.jpg" /><p>Karo</p>				
					</div>
					
					</td>
				<td class="busy"></td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
					<div class="profile">
						<img width="35" src="assets/images/babysitters/4.jpg" /><p>Marjo</p>			
					</div>
					
				</td>
				<td class="busy">
				</td>
				<td class="busy"></td>
				<td class="busy"></td>
			</tr>

			<tr>
				<td class="time">10-12</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
					
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_female.jpg" /><p>Karo</p>				
					</div>
					
					</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/4.jpg" /><p>Marjo</p>				
					</div>
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
					
				</td>
				<td class="busy">
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/4.jpg" /><p>Marjo</p>				
					</div>
				</td>
				<td class="busy"></td>
			</tr>

			<tr>
				<td class="time">12-14</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
				</td>
				<td class="busy">
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/4.jpg" /><p>Marjo</p>				
					</div>
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
					
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
					
				</td>
				<td class="busy"></td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/4.jpg" /><p>Marjo</p>				
					</div>
				</td>
			</tr>

			<tr>
				<td class="time">14-16</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
				</td>
				<td class="busy">
				</td>
				<td class="busy"></td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
					
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
					
				</td>
				<td class="busy"></td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/4.jpg" /><p>Marjo</p>				
					</div>
				</td>
			</tr>

			<tr>
				<td class="time">16-18</td>
				<td class="busy">
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_male.jpg" /><p>Pekka</p>				
					</div>
					
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_female.jpg" /><p>Karo</p>				
					</div>
					
					</td>
				<td class="busy"></td>
				<td class="busy">
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_female.jpg" /><p>Karo</p>				
					</div>
					
				</td>
				<td class="busy"></td>
				<td class="busy"></td>
			</tr>

			<tr>
				<td class="time">18-20</td>
				<td class="busy">
				</td>
				<td class="busy">
				</td>
				<td class="busy"></td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/4.jpg" /><p>Marjo</p>				
					</div>
					
				</td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/generic_female.jpg" /><p>Karo</p>				
					</div>
					
				</td>
				<td class="busy"></td>
				<td class="free">
					<div class="profile">
						<img width="35" src="assets/images/babysitters/4.jpg" /><p>Marjo</p>				
					</div>
				</td>
			</tr>
			
		</table>

<!-- end of calendar -->
		}


<script type="text/javascript">
	initMap(@parent.lastLatitude, @parent.lastLongitude);
	if (@parent.hasRequested == true) {
		$('#notify_icon').show();
	}
</script>

}
